<template>
  <v-app :dark="$store.state.darkTheme">
    <v-app-bar app clipped-left>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>FAQ Bot</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon title="Поменять тему" @click="$store.commit('TOGGLE_DARK_THEME')">
        <v-icon>mdi-theme-light-dark</v-icon>
      </v-btn>
      <v-btn icon title="Выйти" @click="clearLocalStorage()">
        <v-icon>mdi-logout</v-icon>
      </v-btn>
    </v-app-bar>
    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
    >
      <v-list dense>
        <v-list-item to="/chat">
          <v-list-item-action>
            <v-icon>mdi-android-messages</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Чат</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/settings">
          <v-list-item-action>
            <v-icon>mdi-cog</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Настройки</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-content class="align-start">
      <v-container fluid class="fill-height">
        <v-fade-transition mode="out-in">
          <router-view></router-view>
        </v-fade-transition>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    name: "App",
    data() {
      return {
        drawer: false,
      }
    },
    watch: {
    },
    methods: {
      clearLocalStorage() {
        localStorage.clear();
        window.location.reload(false);
      }
    },
    beforeMount() {
      this.$vuetify.theme.dark = this.$store.state.darkTheme;
    }
  }
</script>

<style lang="sass">
  .v-application
    max-height: 100vh
    overflow: hidden
</style>
