<template>
  <v-container fluid class="fill-height d-flex justify-center align-start">
    <v-row no-gutters class="fill-height">
      <v-card raised shaped class="d-flex fill-width col fill-height" fluid>
        <v-row class="px-3">
          <v-col cols="3" class="px-0 py-5">
            <ChatList id="sidebar"/>
          </v-col>
          <v-divider vertical></v-divider>
          <v-col>
            <ChatView></ChatView>
          </v-col>
        </v-row>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
  import ChatList from "../components/ChatList";
  import ChatView from "../components/ChatView";

  export default {
    name: "Chat",
    components: {ChatView, ChatList},
    data() {
      return {}
    },
    methods: {},
    mounted() {
      this.$store.dispatch("loadChats");
    }
  }
</script>

<style scoped lang="sass">
  #sidebar
    padding: 0
</style>
