<template>
    <v-container>
        <h1>Добро пожаловать</h1>
        <p>Выберите один из разделов:</p>
        <ul>
          <li><router-link to="/chat">Чат</router-link></li>
          <li><router-link to="/settings">Настройки</router-link></li>
        </ul>
    </v-container>
</template>

<script>
export default {
    name: "Index"
}
</script>
