<template>
  <div class="container">
    <p>{{ msg }}</p>
    <button @click="getMessage" type="button" class="btn btn-primary">Ping?</button>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Ping',
  data() {
    return {
      msg: 'Hello!',
    };
  },
  methods: {
    getMessage() {
      const path = '/api/ping';
      axios.get(path)
           .then(res => {
             this.msg = res.data;
           })
           .catch(error => {
             console.error(error);
           })
    }
  },
};
</script>
