<template>
  <v-container v-if="$store.state.currentChatID != null"
               fluid class="fill-height d-flex flex-column align-stretch" id="chatView">
    <v-container v-if="messages = $store.state.messages[$store.state.currentChatID]" fluid
                 class="overflow-auto flex-grow-1 d-flex flex-column" id="messages">
      <Message v-for="message in messages" :message="message" :key="message.message_id"></Message>
    </v-container>
    <v-container v-else fluid
                 class="d-flex flex-grow-1 justify-center align-center">
      <v-progress-circular indeterminate></v-progress-circular>
    </v-container>
    <v-divider></v-divider>
    <v-container fluid class="flex-shrink-0 pb-0 d-flex flex-nowrap align-center" id="inputCont">
      <v-text-field solo placeholder="Введите сообщение..." hide-details="auto"></v-text-field>
      <v-btn fab class="ml-5">
        <v-icon>mdi-send</v-icon>
      </v-btn>
    </v-container>
  </v-container>
  <div v-else class="d-flex justify-center align-center fill-height">Чтобы начать, выберите чат из
    списка слева.
  </div>
</template>

<script>
  import Message from "./Message";

  export default {
    name: "ChatView",
    components: {Message},
  }
</script>

<style scoped lang="sass">
  #messages
    max-height: 70vh
    overflow-y: auto
</style>
