<template>
  <v-list two-line>
    <template v-if="$store.state.chats.length">
      <template v-for="chat in $store.state.chats">
        <ChatLink :chat="chat" :key="chat.uid"></ChatLink>
        <v-divider v-if="chat !== $store.state.chats[$store.state.chats.length - 1]"></v-divider>
      </template>
    </template>
    <template v-else>
      <v-skeleton-loader v-for="i in [1, 2]" :key="'skel' + i" ref="skeleton"
                         type="list-item-avatar-two-line"></v-skeleton-loader>
      <div class="d-flex flex-row justify-center">
        <v-progress-circular indeterminate></v-progress-circular>
      </div>
    </template>
  </v-list>
</template>

<script>
  import ChatLink from "./ChatLink";

  export default {
    name: "ChatList",
    components: {ChatLink}
  }
</script>

<style scoped lang="scss">

</style>
