<template>
  <v-list-item @click.stop="$store.dispatch('changeChat', chat.uid)"
               :class="$store.state.currentChatID === chat.uid ? 'active' : ''">
    <v-list-item-avatar><img :src="chat.avatar" alt="Avatar picture"></v-list-item-avatar>
    <v-list-item-content>
      <v-list-item-title class="d-flex flex-row">
        {{ chat.name }}
        <v-spacer></v-spacer>
        <span class="grey--text text--lighten-1"
              v-if="chat.unreadCnt > 0">{{ chat.unreadCnt }}</span>
      </v-list-item-title>
      <v-list-item-subtitle>{{ chat.lastMsg }}</v-list-item-subtitle>
    </v-list-item-content>
  </v-list-item>
</template>

<script>
  export default {
    name: "ChatLink",
    props: ["chat"]
  }
</script>

<style scoped lang="sass">
  .v-list-item
    cursor: pointer
    transition: all linear 0.1s

    .theme--light &.active::before
      opacity: 0.1
    .theme--dark &.active::before
      opacity: 0.15

</style>
