<template>
  <div class="message py-2 px-3 my-1 border rounded-pill"
       :class="message.author === 'me' ? 'align-self-end' : 'align-self-start'"
       v-html="text">
  </div>
</template>

<script>
  const {escapeHTML} = require("vuetify/es5/util/helpers");
  export default {
    name: "Message",
    props: ["message"],
    computed: {
      text() {
        let t = escapeHTML(this.message.text); // Avoid XSS
        return t.replace( // Make links work
          /((http|https|ftp|ftps)\:\/\/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(\/\S*)?)/g,
          '<a target="_blank" href="$1">$1</a>'
        );
      }
    }
  }
</script>

<style scoped lang="sass">
  .message
    border-radius: 1000px

    &.align-self-end
      border-top-right-radius: 0
      .theme--light &
        background-color: lightgray
        color: black
      .theme--dark &
        background-color: darken(darkgrey, 0.1)
        &::v-deep a
          color: blue

    &.align-self-start
      border-top-left-radius: 0
      .theme--light &
        background-color: blue
        &::v-deep a
          color: lightblue
      .theme--dark &
        background-color: darken(darkblue, 0.1)
        color: white

    .theme--dark &
      color: black

    .theme--light &
      color: white
</style>
